body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.navbar {
  background-color: #fff;
  height: 50px;
  align-items: center;
  padding: 2.5px 10px 2.5px 10px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  border-bottom: solid #eee 1.5px;
}

.footer {
  background-color: #fff;
  height: 50px;
  align-items: center;
  padding: 2.5px 10px 2.5px 10px;
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 1;
}
