<div id="PCA">
    <h1 class="text-center">Contact Us</h1>
</div>
<div class="jumbotron-text text-center">
    <br></br>
    <h1 class="display-8">Editorial</h1>
    <p>Phone: 510-922-8711</p>
    <p>Email:
      <a href="mailto:news@piedmontpost.org?" target="_top">news@piedmontpost.org</a>
    </p>
    <h1 class="display-8">Advertising</h1>
    <p>Phone: 510-626-2468</p>
    <p>Email:
      <a href="mailto:nancy@cmc-ads.com?" target="_top">nancy@cmc-ads.com</a>
    </p>
</div>

<div class="jumbotron">
  <h1 class="display-8 text-center">Our Staff</h1>
  <div class="jumbotron-text">
    <h4>Gray Cathrall, Publisher & Editor</h4>
      <p>“Those are my principles, and if you don’t like them, well, I have others.”</p>
    <h4>Paul Fairchild, Production Manager</h4>
      <p>A veteran of the printing industry for more than 30 years, Paul Fairchild has been the Post’s Production Manager for 15 years, and has responsibility for layout and look of the paper each week. A native of Chico and former art student, he has a BFA with a concentration on painting and drawing from the Academy of Art College in San Francisco. He is the former Press Room Manager for Hero Presentation Screen Printing in San Francisco, servicing advertising agencies and major corporations in the financial district. A resident of Japan for 10 years, he was an Illustrator and graphic designer for several ad agencies and the Prefectural Government in Yamaguchi, Japan. Prior to joining the Post, he was Advertising Manager, Graphic Artist and Production Manager with newspapers in Northern California.</p>
    <h4>Nancy Kurkjian, Advertising Manager</h4>
      <p>Bay Area native and a resident of Piedmont for 28 years, Nancy Kurkjian has been the Post’s Advertising Manager for 12 years. Though initially reluctant to take on this role, she has enjoyed considerable success due to her attention to detail in servicing the needs of the Post’s many advertisers. Graduate of Cal Berkeley, she has also served as Account Coordinator at Foote, Cone and Belding in San Francisco before changing careers. She worked several years in executive search in the financial field. After raising two children in Piedmont, she re-entered the workforce.She takes pride in maintaining an unusually low turnover among the Post’s advertisers.</p>
  </div>
</div>
