<div class="text-center">
  <h1>Contact Us</h1>
  <img src="../images/post/PCA in December.JPG">
  <p>1139 Oakland Avenue, Piedmont, CA 94611</p>
    <h3>Editorial</h3>
    <p>Phone: 510-922-8711</p>
    <p>Email:
      <a href="mailto:news@piedmontpost.org?" target="_top">news@piedmontpost.org</a>
    </p>

    <br></br>
    <h3>Advertising</h3>
    <p>Phone: 510-626-2468</p>
    <p>Email: nancy@cmc-ads.com</p>
</div>
