<div class="text-center jumbotron-text">
  <div id="PCA">
    <h1>Contact Us</h1>
  </div>
  <p>1139 Oakland Avenue, Piedmont, CA 94611</p>
    <h3>Editorial</h3>
    <p>Phone: 510-922-8711</p>
    <p>Email:
      <a href="mailto:news@piedmontpost.org?" target="_top">news@piedmontpost.org</a>
    </p>

    <h3>Advertising</h3>
    <p>Phone: 510-626-2468</p>
    <p>Email:
      <a href="mailto:nancy@cmc-ads.com?" target="_top">nancy@cmc-ads.com</a>
    </p>
</div>
