<div id="PCA">
    <h1 class="text-center">Delivery</h1>
</div>
<div class="jumbotron-text text-center">
    <br></br>
    <h1 class="display-8">Delivery of the Piedmont Post</h1>
    <p>Founded in October 1998, the Piedmont Post is the city’s locally delivered weekly newspaper. It is a subscription newspaper delivered each Wednesday by more than 40 delivery kids to subscribers in Piedmont. It is also mailed throughout the U.S. to subscribers.
</p>
    <p>To subscribe to the Post and to become an Underwriter...
      <a href="mailto:news@piedmontpost.org?" target="_top">news@piedmontpost.org</a>
    </p>
    <h1 class="display-8">Holding Delivery</h1>
    <p>Going on vacation? To hold delivery of the Post while you’re gone, send your street address and dates you will be gone to:
      <a href="mailto:news@piedmontpost.org?" target="_top">news@piedmontpost.org</a>
    </p>
    <h1 class="display-8">Delivery Problems?</h1>
    <p>For questions regarding delivery problems, including the paper not being delivered the current week, contact: Nancy Kurkjian at
      <a href="mailto:nancy.kurkjian@comcast.net?" target="_top">nancy.kurkjian@comcast.net</a>
      , or by calling 510–626-2468.
    </p>
</div>
