<div class="jumbotron text-center" id="header">
    <h1 class="display-5">Welcome to the Official Piedmont Post Website</h1>
    <p class="lead">A community newspaper serving the citizens of Piedmont</p>
    <a class="btn btn-light btn-lg" href="/subscribe" target="_blank">Subscribe today!</a>
</div>

<div class="jumbotron">
  <h1 class="display-8 text-center">Genesis of a hometown paper</h1>
  <p class="jumbotron-text">The Piedmont Post was founded by Gray Cathrall and Anne Beeson in October 1998 to fill a void in local news in the city of Piedmont. The Piedmonter, a weekly paper since 1916, had been sold that summer to the Contra Costa Times, and residents immediately noticed an absence of local events in print.
  <br></br>
  Cathrall had created and operated the Sports Section for The Piedmonter for eight years. As a Piedmont resident and by direct observation of how The Piedmonter handled news, he had a sense of what residents wanted to read in their hometown paper.
  <br></br>
  The first issue of the Post was printed during the high school football season, a time when residents attend games at Witter Field in a Friday night tradition. Providing hometown sports coverage each week continued much as it had with The Piedmonter, but the Post immediately expanded the coverage of the paper. Readers of the Post now were able to read about events and decisions by the City Council and School Board on a weekly basis. For the first time, residents were able to read live reviews of theater, music, dance, art and movies. Current wedding and engagement notices were included, followed in the Post’s first year by the first of hundreds of well-written obituaries with photos.
  <br></br>
  Due to the small number of businesses in the city, the Post told the community that it would need to be a subscription-based paper with some underwriting. The formula worked, and as advertisers were added, the Post was able to produce a quality hometown paper each week, providing residents with the stories and photos they wanted to see.
  <br></br>
  Now, more than 20 years later, the Post continues to stress content over advertising. It believes that a literate community wants to know what goes on in its community, and wants to be informed on a weekly basis.
  </p>
</div>
