<div class="jumbotron jumbotron-fluid text-center" id="header">
    <h1 class="display-5">Welcome to the Official Piedmont Post Website</h1>
    <p class="lead">A community newspaper serving the citizens of Piedmont</p>
    <a class="btn btn-light btn-lg" href="/subscribe" target="_blank">Subscribe today!</a>
</div>

<div class="jumbotron">
  <h1 class="display-8 text-center">Genesis of a hometown paper</h1>
  <p class="jumbotron-text">The Piedmont Post was founded by Gray Cathrall and Anne Beeson in October 1998 to fill a void in local news in the city of Piedmont. The Piedmonter, a weekly paper since 1916, had been sold that summer to the Contra Costa Times, and residents immediately noticed an absence of local events in print.
  <br></br>
  Cathrall had created and operated the Sports Section for The Piedmonter for eight years. As a Piedmont resident and by direct observation of how The Piedmonter handled news, he had a sense of what residents wanted to read in their hometown paper.
  <br></br>
  The first issue of the Post was printed during the high school football season, a time when residents attend games at Witter Field in a Friday night tradition. Providing hometown sports coverage each week continued much as it had with The Piedmonter, but the Post immediately expanded the coverage of the paper. Readers of the Post now were able to read about events and decisions by the City Council and School Board on a weekly basis. For the first time, residents were able to read live reviews of theater, music, dance, art and movies. Current wedding and engagement notices were included, followed in the Post’s first year by the first of hundreds of well-written obituaries with photos.
  <br></br>
  Due to the small number of businesses in the city, the Post told the community that it would need to be a subscription-based paper with some underwriting. The formula worked, and as advertisers were added, the Post was able to produce a quality hometown paper each week, providing residents with the stories and photos they wanted to see.
  <br></br>
  Now, more than 20 years later, the Post continues to stress content over advertising. It believes that a literate community wants to know what goes on in its community, and wants to be informed on a weekly basis.
  </p>
</div>

<div class="jumbotron">
  <h1 class="display-8 text-center">Our Staff</h1>
  <div class="jumbotron-text">
    <h4>Gray Cathrall, Publisher & Editor</h4>
    <h4>Paul Fairchild, Production Manager</h4>
      <p>A veteran of the printing industry for more than 30 years, Paul Fairchild has been the Post’s Production Manager for 15 years, and has responsibility for layout and look of the paper each week. A native of Chico and former art student, he has a BFA with a concentration on painting and drawing from the Academy of Art College in San Francisco. He is the former Press Room Manager for Hero Presentation Screen Printing in San Francisco, servicing advertising agencies and major corporations in the financial district. A resident of Japan for 10 years, he was an Illustrator and graphic designer for several ad agencies and the Prefectural Government in Yamaguchi, Japan. Prior to joining the Post, he was Advertising Manager, Graphic Artist and Production Manager with newspapers in Northern California.</p>
    <h4>Nancy Kurkjian, Advertising Manager</h4>
      <p>Bay Area native and a resident of Piedmont for 28 years, Nancy Kurkjian has been the Post’s Advertising Manager for 12 years. Though initially reluctant to take on this role, she has enjoyed considerable success due to her attention to detail in servicing the needs of the Post’s many advertisers. Graduate of Cal Berkeley, she has also served as Account Coordinator at Foote, Cone and Belding in San Francisco before changing careers. She worked several years in executive search in the financial field. After raising two children in Piedmont, she re-entered the workforce.She takes pride in maintaining an unusually low turnover among the Post’s advertisers.</p>
  </div>
</div>

<div class="section">
  <div class="row justify-content-center">

      <h2>Our Staff</h2>
    <ul>
      <li><h4>Gray Cathrall, Publisher & Editor</h4>

      </li>

      <li><h4>Paul Fairchild, Production Manager</h4>
        <p>A veteran of the printing industry for more than 30 years, Paul Fairchild has been the Post’s Production Manager for 15 years, and has responsibility for layout and look of the paper each week. A native of Chico and former art student, he has a BFA with a concentration on painting and drawing from the Academy of Art College in San Francisco. He is the former Press Room Manager for Hero Presentation Screen Printing in San Francisco, servicing advertising agencies and major corporations in the financial district. A resident of Japan for 10 years, he was an Illustrator and graphic designer for several ad agencies and the Prefectural Government in Yamaguchi, Japan. Prior to joining the Post, he was Advertising Manager, Graphic Artist and Production Manager with newspapers in Northern California.</p>
      </li>
      <li>
        <h4>Nancy Kurkjian, Advertising Manager</h4>
        <p>Bay Area native and a resident of Piedmont for 28 years, Nancy Kurkjian has been the Post’s Advertising Manager for 12 years. Though initially reluctant to take on this role, she has enjoyed considerable success due to her attention to detail in servicing the needs of the Post’s many advertisers. Graduate of Cal Berkeley, she has also served as Account Coordinator at Foote, Cone and Belding in San Francisco before changing careers. She worked several years in executive search in the financial field. After raising two children in Piedmont, she re-entered the workforce.She takes pride in maintaining an unusually low turnover among the Post’s advertisers.</p>
      </li>
      </ul>
    </div>
  </div>
</div>
