<div>
  <div class="text-center">
    <h1>Subscriptions</h1>
    <p>Don’t miss an issue of the paper of Piedmont, by Piedmont, for Piedmont.</p>
    <p>Subscribe to the Post and we’ll deliver it to your doorstep every Wednesday.</p>
  </div>

  <h2 class="text-center">Underwriting Categories</h2>
  <div class="card-deck">
      <div class="card border-dark">
        <div class="card-body">
          <h5 class="card-title">Founders Circle</h5>
          <p class="card-text">over $500</p>
          <a href="#" class="btn btn-primary">Subscribe</a>
        </div>
      </div>
      <div class="card border-dark">
        <div class="card-body">
          <h5 class="card-title">Publishers Circle</h5>
          <p class="card-text">$250 - $499</p>
          <a href="#" class="btn btn-primary">Subscribe</a>
        </div>
      </div>
      <div class="card border-dark">
        <div class="card-body">
          <h5 class="card-title">Press Club</h5>
          <p class="card-text">$150 - $249</p>
          <a href="#" class="btn btn-primary">Subscribe</a>
        </div>
      </div>
      <div class="card border-dark">
        <div class="card-body">
          <h5 class="card-title">Newsroom</h5>
          <p class="card-text">$75 - $149</p>
          <a href="#" class="btn btn-primary">Subscribe</a>
        </div>
      </div>
      <div class="card border-dark">
        <div class="card-body">
          <h5 class="card-title">Standard Subscription</h5>
          <p class="card-text">$75</p>
          <a href="#" class="btn btn-primary">Subscribe</a>
        </div>
      </div>
      <div class="card border-dark">
        <div class="card-body">
          <h5 class="card-title">Out of Town Subscription</h5>
          <p class="card-text">$125</p>
          <a href="#" class="btn btn-primary">Subscribe</a>
        </div>
      </div>
    </div>
  </div>
</div>
