<!-- Load Stripe.js on your website. -->
<!-- <script src="https://checkout.stripe.com/checkout.js"</script> -->
<script src="https://js.stripe.com/v3"></script>

<div>
  <div class="text-center jumbotron-text">
    <h1>Subscriptions</h1>
    <p>Don’t miss an issue of the paper of Piedmont, by Piedmont, for Piedmont.</p>
    <p>Subscribe to the Post and we’ll deliver it to your doorstep every Wednesday.</p>
  </div>
</div>

<div>
  <h2 class="text-center">Underwriting Categories</h2>
    <div class="text-center card-columns">
      <div style="margin: 1em" class="card border-dark">
        <div class="card-body">
          <h5 class="card-title">Standard Subscription</h5>
          <p class="card-text">$75</p>
          <button class="btn btn-dark" id="checkout-standard" role="link">Subscribe</button>
          <div id="error-message"></div>
          <script>
            var stripe = Stripe('pk_test_lmInY2xqjlYr8Kg5EwkQ3WD0');
            var checkoutButton = document.getElementById('checkout-standard');
            checkoutButton.addEventListener('click', function () {
              stripe.redirectToCheckout({
                items: [{sku: 'sku_EuZdTBc61JhAx3', quantity: 1}],
                successUrl: 'https://piedmontpost.herokuapp.com/success',
                cancelUrl: 'https://piedmontpost.herokuapp.com/subscribe',
              })
              .then(function (result) {
                if (result.error) {
                  var displayError = document.getElementById('error-message');
                  displayError.textContent = result.error.message;
                }
              });
            });
          </script>
        </div>
      </div>
      <div style="margin: 1em" class="card border-dark">
        <div class="card-body">
          <h5 class="card-title">Publisher's Circle</h5>
          <p class="card-text">$250</p>
          <button class="btn btn-dark" id="checkout-publisherscircle" role="link">Subscribe</button>
          <div id="error-message"></div>
          <script>
            var stripe = Stripe('pk_test_lmInY2xqjlYr8Kg5EwkQ3WD0');
            var checkoutButton = document.getElementById('checkout-publisherscircle');
            checkoutButton.addEventListener('click', function () {
              stripe.redirectToCheckout({
                items: [{sku: 'sku_FDJfY2bOGSY5bv', quantity: 1}],
                successUrl: 'https://piedmontpost.herokuapp.com/subscribe',
                cancelUrl: 'https://piedmontpost.herokuapp.com/subscribe',
              })
              .then(function (result) {
                if (result.error) {
                  var displayError = document.getElementById('error-message');
                  displayError.textContent = result.error.message;
                }
              });
            });
          </script>
        </div>
      </div>
      <div style="margin: 1em" class="card border-dark">
        <div class="card-body">
          <h5 class="card-title">Out of Town Subscription</h5>
          <p class="card-text">$125</p>
          <button class="btn btn-dark" id="checkout-outoftown" role="link">Subscribe</button>
          <div id="error-message"></div>
          <script>
            var stripe = Stripe('pk_test_lmInY2xqjlYr8Kg5EwkQ3WD0');
            var checkoutButton = document.getElementById('checkout-outoftown');
            checkoutButton.addEventListener('click', function () {
              stripe.redirectToCheckout({
                items: [{sku: 'sku_EuZh3FiuNDSZUu', quantity: 1}],
                successUrl: 'https://piedmontpost.herokuapp.com/subscribe',
                cancelUrl: 'https://piedmontpost.herokuapp.com/subscribe',
              })
              .then(function (result) {
                if (result.error) {
                  var displayError = document.getElementById('error-message');
                  displayError.textContent = result.error.message;
                }
              });
            });
          </script>
        </div>
      </div>
      <div style="margin: 1em" class="card border-dark">
        <div class="card-body">
          <h5 class="card-title">Founder's Circle</h5>
          <p class="card-text">$500</p>
          <button class="btn btn-dark" id="checkout-founderscircle" role="link">Subscribe</button>
          <div id="error-message"></div>
          <script>
            var stripe = Stripe('pk_test_lmInY2xqjlYr8Kg5EwkQ3WD0');
            var checkoutButton = document.getElementById('checkout-founderscircle');
            checkoutButton.addEventListener('click', function () {
              stripe.redirectToCheckout({
                items: [{sku: 'sku_FDJcLXQJ5b1Iqd', quantity: 1}],
                successUrl: 'https://piedmontpost.herokuapp.com/subscribe',
                cancelUrl: 'https://piedmontpost.herokuapp.com/subscribe',
              })
              .then(function (result) {
                if (result.error) {
                  var displayError = document.getElementById('error-message');
                  displayError.textContent = result.error.message;
                }
              });
            });
          </script>
        </div>
      </div>
      <div style="margin: 1em" class="card border-dark">
        <div class="card-body">
          <h5 class="card-title">Press Club</h5>
          <p class="card-text">$150</p>
          <button class="btn btn-dark" id="checkout-pressclub" role="link">Subscribe</button>
          <div id="error-message"></div>
          <script>
            var stripe = Stripe('pk_test_lmInY2xqjlYr8Kg5EwkQ3WD0');
            var checkoutButton = document.getElementById('checkout-pressclub');
            checkoutButton.addEventListener('click', function () {
              stripe.redirectToCheckout({
                items: [{sku: 'sku_FDJeUs1Cwo8JPD', quantity: 1}],
                successUrl: 'https://piedmontpost.herokuapp.com/subscribe',
                cancelUrl: 'https://piedmontpost.herokuapp.com/subscribe',
              })
              .then(function (result) {
                if (result.error) {
                  var displayError = document.getElementById('error-message');
                  displayError.textContent = result.error.message;
                }
              });
            });
          </script>
        </div>
      </div>
      <div style="margin: 1em" class="card border-dark">
        <div class="card-body">
          <h5 class="card-title">Other Amount</h5>
          <p class="card-text">$?</p>
          <button class="btn btn-dark" id="checkout-pressclub" role="link">Subscribe</button>
          <div id="error-message"></div>
          <script>
            var stripe = Stripe('pk_test_lmInY2xqjlYr8Kg5EwkQ3WD0');
            var checkoutButton = document.getElementById('checkout-pressclub');
            checkoutButton.addEventListener('click', function () {
              stripe.redirectToCheckout({
                items: [{sku: 'sku_FDJeUs1Cwo8JPD', quantity: 1}],
                successUrl: 'https://piedmontpost.herokuapp.com/subscribe',
                cancelUrl: 'https://piedmontpost.herokuapp.com/subscribe',
              })
              .then(function (result) {
                if (result.error) {
                  var displayError = document.getElementById('error-message');
                  displayError.textContent = result.error.message;
                }
              });
            });
          </script>
        </div>
      </div>
    </div>
  </div>
</div>
