<div>
  <div>
    Piedmont Post thanks its many Underwriters
As the Piedmont Post moves through its 20th year of publication as the community&#39;s
newspaper, we extend a grateful thanks to the many underwriters and subscribers listed
below who have helped guarantee another year of independent, local news. Without
their support, and the support of many others whose names will be added, there would
be no hometown paper in Piedmont.
  </div>

  <ul>
    <li>Founder's Circle
    <p>Over $500</p>
    </li>
    <li>Publisher's Circle
    <p>$250 - $499</p>
    </li>
    <li>Press Club
    <p>$150 - $249</p>
    </li>
</div>
