body {
  padding: 50px;
  font: 14px "Garamond", Serif;
}

a {
  color: #00B7FF;
}

.jumbotron {
  min-height: 300px;
  max-height: 500px;
  width: 101vw;
  margin-top: -4em;
  margin-bottom: 2em;
  margin-left: calc(-50vw + 50% - 8px);
  position: relative;
}

.navbar {
  background-color: #fff;
  height: 50px;
  align-items: center;
  padding: 2.5px 10px 2.5px 10px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  border-bottom: solid #eee 1.5px;
}

#header {
  padding: 270px 0 300px;
  background-image: url("../images/post/PCA in December.JPG");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  background-attachment: fixed;
}

#header h1, #header p {
	text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}

.first-section {
  background-color: white;

}

.section {
  padding: 60px 0 40px;
}

footer {
  border-top: solid #eee 1.5px;
  background-color: #fff;
  padding: 15px 0;
  margin: 0!important;
}

.jumbotron {
  background: transparent;
  padding: 60px 10% 20px;
}

.jumbotron-text {
  font-size: 1.15em;
}

#PCA {
  padding: 100px 0;
  background-image: url("../images/cityhall.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  color: white;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

#carouselExampleInterval {
  padding: 0 25% 40px;
}
