<div>
  <h1>Contact Us</h1>
  <ul>
    <li>1139 Oakland Avenue, Piedmont, CA 94611</li>
    <p>Editorial</p>
    <li>Phone: 510-922-8711</li>
    <li>Email: news@piedmontpost.org</li>
    <br></br>
    <p>Advertising</p>
    <li>Phone: 510-626-2468</li>
    <li>Email: nancy@cmc-ads.com</li>
  </ul>
</div>
