<div>
  <h1>Subscriptions</h1>
  <p>Don’t miss an issue of the paper of Piedmont, by Piedmont, for Piedmont.</p>
  <p>Subscribe to the Post and we’ll deliver it to your doorstep every Wednesday.</p>
</div>
